<a href="https://colab.research.google.com/github/AryaBenny/LEARN.PY/blob/main/Task19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a DataFrame by passing a random numpy array, with a dateted index and labelled columns and display,
 - where values of the column A is greater than 0.
 - where values of the columns A is greater than 0 and B greater than -1.
 - where values of the columns A is greater than 0 or B greater than -1.

In [16]:
#please type your code below this line.

import numpy as np
import pandas as pd
dateted = pd.date_range('20150101',periods=5)
df = pd.DataFrame(np.random.randn(5,4),index=dateted,columns=list('ABCD'))
print("Column is:\n",df)
print("\nValues of the column A is greater than 0 are:\n",df[df.A>0])
print("\nValues of the columns A is greater than 0 and B greater than -1 are:\n",df[(df.A>0)&(df.B>-1)])
print("\nValues of the columns A is greater than 0 or B greater than -1 are:\n",df[(df.A>0)|(df.B>-1)])

Column is:
                    A         B         C         D
2015-01-01  0.591921 -0.423748  1.052696 -0.111169
2015-01-02  1.007132  0.694181 -0.808617 -0.161258
2015-01-03 -2.311945 -1.226490 -0.368572  0.076871
2015-01-04 -0.379111 -0.637147  2.016481  1.306346
2015-01-05  1.138742  1.038527 -1.136004  0.743453

Values of the column A is greater than 0 are:
                    A         B         C         D
2015-01-01  0.591921 -0.423748  1.052696 -0.111169
2015-01-02  1.007132  0.694181 -0.808617 -0.161258
2015-01-05  1.138742  1.038527 -1.136004  0.743453

Values of the columns A is greater than 0 and B greater than -1 are:
                    A         B         C         D
2015-01-01  0.591921 -0.423748  1.052696 -0.111169
2015-01-02  1.007132  0.694181 -0.808617 -0.161258
2015-01-05  1.138742  1.038527 -1.136004  0.743453

Values of the columns A is greater than 0 or B greater than -1 are:
                    A         B         C         D
2015-01-01  0.591921 -0.423748  1.052696 -0.111169
2015-01-02  1.007132  0.694181 -0.808617 -0.161258
2015-01-04 -0.379111 -0.637147  2.016481  1.306346
2015-01-05  1.138742  1.038527 -1.136004  0.743453

2. Create a DataFrame by passing a random numpy array, with a dateted index and labelled columns and check if,
 - the values of the table are greater the zero or not.
 - the value at the position (0,0) is equal to NaN or not.

In [17]:
#please type your code below this line.

import numpy as np
import pandas as pd
dateted = pd.date_range('20160101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dateted,columns=list('ABCD'))
print("Column is:\n",df)
print("\nValues of the table are greater the zero or not are:\n",df[df>0])
print("\nValue at the position (0,0) is equal to NaN or not is:\n",df.iloc[[0],[0]]=='NaN')

Column is:
                    A         B         C         D
2016-01-01  0.705936 -0.330573  2.394649 -0.072641
2016-01-02 -0.437612 -0.066853  1.041069  2.094763
2016-01-03  0.931846  1.549925 -0.265865  0.088272
2016-01-04 -1.427791  0.354428 -0.235211  0.297586
2016-01-05  0.361616 -0.265688 -0.317315  0.370342
2016-01-06 -0.188591 -0.167503 -0.395996 -0.232256

Values of the table are greater the zero or not are:
                    A         B         C         D
2016-01-01  0.705936       NaN  2.394649       NaN
2016-01-02       NaN       NaN  1.041069  2.094763
2016-01-03  0.931846  1.549925       NaN  0.088272
2016-01-04       NaN  0.354428       NaN  0.297586
2016-01-05  0.361616       NaN       NaN  0.370342
2016-01-06       NaN       NaN       NaN       NaN

Value at the position (0,0) is equal to NaN or not is:
                 A
2016-01-01  False

3. Create a DataFrame by passing a random numpy array, with a dateted index and labelled columns and
 - reindex the index with even dates.
 - create a column with values NaN.
 - make the values of the first two index of the newly created column as 1.

In [18]:
#please type your answer below this line.

import numpy as np
import pandas as pd
dateted = pd.date_range('20170101',periods=7)
df = pd.DataFrame(np.random.randn(7,4),index=dateted,columns=list('ABCD'))
print("Column is:\n",df)
print("\nReindexed the index with even dates are:\n",df.reindex(df.index[1::2]))
df["E"]="NaN"
print("\nColumn with values NaN are:\n",df)
df.loc[df.index[0:2],"E"]=1
print("\nValues of the first two index of the newly created column as 1 is:\n",df)

Column is:
                    A         B         C         D
2017-01-01 -1.728755 -0.503313 -0.116495 -0.566154
2017-01-02  0.236804 -0.364583  1.325630 -1.912317
2017-01-03  0.328633 -0.418627 -0.999948  1.821243
2017-01-04  1.699109 -0.434047 -0.671602  0.572720
2017-01-05 -0.767123 -1.610847  1.808739  0.686948
2017-01-06 -0.565352  0.837115  0.280881 -0.882270
2017-01-07 -1.427817  0.007055 -0.633675  0.553355

Reindexed the index with even dates are:
                    A         B         C         D
2017-01-02  0.236804 -0.364583  1.325630 -1.912317
2017-01-04  1.699109 -0.434047 -0.671602  0.572720
2017-01-06 -0.565352  0.837115  0.280881 -0.882270

Column with values NaN are:
                    A         B         C         D    E
2017-01-01 -1.728755 -0.503313 -0.116495 -0.566154  NaN
2017-01-02  0.236804 -0.364583  1.325630 -1.912317  NaN
2017-01-03  0.328633 -0.418627 -0.999948  1.821243  NaN
2017-01-04  1.699109 -0.434047 -0.671602  0.572720  NaN
2017-01-05 -0.767123 -1.610847  1.808739  0.686948  NaN
2017-01-06 -0.565352  0.837115  0.280881 -0.882270  NaN
2017-01-07 -1.427817  0.007055 -0.633675  0.553355  NaN

Values of the first two index of the newly created column as 1 is:
                    A         B         C         D    E
2017-01-01 -1.728755 -0.503313 -0.116495 -0.566154    1
2017-01-02  0.236804 -0.364583  1.325630 -1.912317    1
2017-01-03  0.328633 -0.418627 -0.999948  1.821243  NaN
2017-01-04  1.699109 -0.434047 -0.671602  0.572720  NaN
2017-01-05 -0.767123 -1.610847  1.808739  0.686948  NaN
2017-01-06 -0.565352  0.837115  0.280881 -0.882270  NaN
2017-01-07 -1.427817  0.007055 -0.633675  0.553355  NaN