<a href="https://colab.research.google.com/github/AryaBenny/LEARN.PY/blob/main/Task16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8]. Create a table with the "index" as indices and data as values.

 Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [70]:
#please type your answer below this line.

import pandas as pd
df = pd.Series(index=["India","Pakistan","Bangladesh","Srilanka","China","Nepal"], data=[1,3,5,np.nan,6,8], name='myseries')
df

India         1.0
Pakistan      3.0
Bangladesh    5.0
Srilanka      NaN
China         6.0
Nepal         8.0
Name: myseries, dtype: float64

2. Create a data 'dates' starting from 2021-01-01 with range 6, and create a random 6x4 array and a list=('ABCD'), now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.

 Expected output

                         A	       B           C           D
       2021-01-01	-0.429358	0.779826	0.389625	0.248792
       2021-01-02	-1.044721	0.272807   -0.370437	1.177273
       2021-01-03	-0.961394   -0.525376	0.120843	0.470060
       2021-01-04     1.842266   -0.551049	0.588390   -0.326937
       2021-01-05     0.986198	0.391301   -0.084837   -0.855573
       2021-01-06	-1.531207	0.905463   -0.099024	0.589219

In [69]:
#please type

import numpy as np
import pandas as pd
dates = pd.date_range('2021-01-01', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-01-01 -0.120675 -0.720100  0.621642  1.702429
2021-01-02 -0.194636  0.541067 -1.438440 -1.366379
2021-01-03 -1.265439 -0.407552  0.927667 -1.098298
2021-01-04  1.558908  2.219490  0.296479  0.075838
2021-01-05  0.886061 -0.264443  0.802146  0.778177
2021-01-06  0.655788  1.174988 -0.066719 -0.641045