<a href="https://colab.research.google.com/github/AryaBenny/LEARN.PY/blob/main/Task21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Using the dataset given below,
 - Group the given dataset by A and find the sum of the groups.
 - Find the 3 least elements from the column D.
 - Find the 3 largest elements from the Column D which belongs to the group 'bar'.

In [61]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df
#please type your code below this line.
print("Dataset is:\n",df)
print("\nGrouped the given dataset by A and found the sum of the groups are:\n",df.groupby(['A']).sum())
print("\nFound the 3 least elements from the column D are:\n",df.nsmallest(3,['D']))
print("\nFound the 3 largest elements from the column D which belongs to the group 'bar' are:\n",df.nlargest(3,['D'])) #group['D'].get_group('bar').nlargest(3)

Dataset is:
      A      B         C         D
0  foo    one  0.995248 -0.856005
1  bar    one -0.417956  0.838622
2  foo    two -0.776431 -0.689964
3  bar  three  0.586013  1.869229
4  foo    two -1.066269  0.003094
5  bar    two -1.354965  1.171164
6  foo    one -0.311895 -0.659030
7  foo  three -0.466100 -1.999751

Grouped the given dataset by A and found the sum of the groups are:
             C         D
A
bar -1.186908  3.879016
foo -1.625448 -4.201656

Found the 3 least elements from the column D are:
      A      B         C         D
7  foo  three -0.466100 -1.999751
0  foo    one  0.995248 -0.856005
2  foo    two -0.776431 -0.689964

Found the 3 largest elements from the column D which belongs to the group 'bar' are:
      A      B         C         D
3  bar  three  0.586013  1.869229
5  bar    two -1.354965  1.171164
1  bar    one -0.417956  0.838622

2. Using the dataset given below,
 - convert the dataset into a csv file.
 - read the csv file just saved.
 - convert the dataset into an excel file.
 - read the excel file just saved.

In [62]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
print("Dataset is:\n",df)
print("\nAfter converted the dataset into a csv file is:\n",df.to_csv('csvfile.csv'))
print("\nAfter read the csv file just saved is:\n",pd.read_csv('csvfile.csv'))
print("\nAfter converted the dataset into an excel file is:\n",df.to_excel('excelfile.xlsx'))
print("\nAfter read the excel file just saved is:\n",pd.read_excel('excelfile.xlsx'))

Dataset is:
      A      B         C         D
0  foo    one -1.163409 -0.151195
1  bar    one -0.674975 -1.150020
2  foo    two  0.820689  1.812230
3  bar  three -2.421997  0.023177
4  foo    two -0.186732 -1.126239
5  bar    two -1.130968 -0.759171
6  foo    one  0.719378 -1.567373
7  foo  three  0.811777  1.669928

After converted the dataset into a csv file is:
 None

After read the csv file just saved is:
    Unnamed: 0    A      B         C         D
0           0  foo    one -1.163409 -0.151195
1           1  bar    one -0.674975 -1.150020
2           2  foo    two  0.820689  1.812230
3           3  bar  three -2.421997  0.023177
4           4  foo    two -0.186732 -1.126239
5           5  bar    two -1.130968 -0.759171
6           6  foo    one  0.719378 -1.567373
7           7  foo  three  0.811777  1.669928

After converted the dataset into an excel file is:
 None

After read the excel file just saved is:
    Unnamed: 0    A      B         C         D
0           0  foo    one -1.163409 -0.151195
1           1  bar    one -0.674975 -1.150020
2           2  foo    two  0.820689  1.812230
3           3  bar  three -2.421997  0.023177
4           4  foo    two -0.186732 -1.126239
5           5  bar    two -1.130968 -0.759171
6           6  foo    one  0.719378 -1.567373
7           7  foo  three  0.811777  1.669928