<a href="https://colab.research.google.com/github/AryaBenny/LEARN.PY/blob/main/Task18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a DataFrame by passing a random numpy array, with a datetie index and labelled columns, and
 - slice its first three rows and display.
 - slice its odd indexed rows.
 - display the dates from 1st position to 4th position.

In [32]:
#please provide your answer below this line.

import numpy as np
import pandas as pd
datetie = pd.date_range('20200101',periods=5)
df = pd.DataFrame(np.random.randn(5,4),index=datetie,columns=list('ABCD'))
print("Sliced first three rows are:\n",df.iloc[0:3])
print("\nSliced odd indexed rows are:\n",df.iloc[1::2])
print("\nDates from 1st position to 4th position is:\n",df.iloc[1:5])

Sliced first three rows are:
                    A         B         C         D
2020-01-01  2.041826 -1.093933 -0.262662  0.213737
2020-01-02  1.926098 -0.699740  0.984296 -0.986942
2020-01-03 -0.968508 -0.839518  0.535711  0.431242

Sliced odd indexed rows are:
                    A         B         C         D
2020-01-02  1.926098 -0.699740  0.984296 -0.986942
2020-01-04  0.208524 -1.315842  0.323974 -1.548583

Dates from 1st position to 4th position is:
                    A         B         C         D
2020-01-02  1.926098 -0.699740  0.984296 -0.986942
2020-01-03 -0.968508 -0.839518  0.535711  0.431242
2020-01-04  0.208524 -1.315842  0.323974 -1.548583
2020-01-05 -1.214403 -0.224943  1.928344  0.602340

2. Create a DataFrame by passing a random numpy array, with a datetie index and labelled columns, and
 - Display the index from the 1 to 3 date and the columns A and B of respective data.
 - Display the datas at the 3rd index.
 - Display datas from 2nd to 5th.
 - Display the datas from the index 1,2,4 and the column 0 and 2.

In [33]:
#please provide your answer below this line.

import numpy as np
import pandas as pd
datetie = pd.date_range('20180101',periods=9)
df = pd.DataFrame(np.random.randn(9,4),index=datetie,columns=list('ABCD'))
print("Index from the 1 to 3 date and the columns A and B are:\n",df.iloc[0:3,0:2])
print("\nDatas at the 3rd index are:\n",df.iloc[3])
print("\nDatas from 2nd to 5th are:\n",df.iloc[2:6])
print("\nDatas from the index 1,2,4 and the column 0 and 2 are:\n",df.iloc[[1,2,4],[0,2]])

Index from the 1 to 3 date and the columns A and B are:
                    A         B
2018-01-01 -0.344225 -0.829051
2018-01-02 -0.045106  0.644720
2018-01-03 -0.538499  1.299255

Datas at the 3rd index are:
 A    1.432256
B   -0.802726
C   -0.645767
D   -2.478352
Name: 2018-01-04 00:00:00, dtype: float64

Datas from 2nd to 5th are:
                    A         B         C         D
2018-01-03 -0.538499  1.299255 -0.271458 -0.902054
2018-01-04  1.432256 -0.802726 -0.645767 -2.478352
2018-01-05  0.188105 -2.147889 -1.155073  0.576128
2018-01-06  0.789047  0.659841  0.442788 -0.795587

Datas from the index 1,2,4 and the column 0 and 2 are:
                    A         C
2018-01-02 -0.045106  0.952355
2018-01-03 -0.538499 -0.271458
2018-01-05  0.188105 -1.155073