<a href="https://colab.research.google.com/github/AryaBenny/LEARN.PY/blob/main/Task20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
 - find the boolean mask where value is nan.
 - remove the row with missing data.

In [18]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))
df["F"] = s1
df1 = df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print("Data is:\n",df1)
print("\nBoolean mask where value is nan is:\n",df1.isnull())
print("\nAfter removed the row with missing data is:\n",df1.dropna())

Data is:
                    A         B         C         D   F    E
2021-01-01  0.414448  1.066122 -0.169609  1.054988 NaN  1.0
2021-01-02 -0.380327 -1.257942 -0.739856  0.004308 NaN  1.0
2021-01-03 -0.468191  0.690443 -0.072946 -0.266331 NaN  NaN
2021-01-04 -1.413031 -0.546177 -0.227289  0.375548 NaN  NaN

Boolean mask where value is nan is:
                 A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True

After removed the row with missing data is:
 Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below, fill the missing data with 20.

In [19]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))
df["F"] = s1
df1 = df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
print("Data is:\n",df1)
print("\nAfter filled the missing data with 20 is:\n",df1.fillna(value=20))

Data is:
                    A         B         C         D   F    E
2021-01-01  1.343622  1.746766  2.490659  0.126505 NaN  1.0
2021-01-02  0.650361  0.919432 -2.075527 -0.850528 NaN  1.0
2021-01-03  0.582207 -0.493994 -2.366155  0.577085 NaN  NaN
2021-01-04 -0.497792  0.240977  1.260716 -2.436350 NaN  NaN

After filled the missing data with 20 is:
                    A         B         C         D     F     E
2021-01-01  1.343622  1.746766  2.490659  0.126505  20.0   1.0
2021-01-02  0.650361  0.919432 -2.075527 -0.850528  20.0   1.0
2021-01-03  0.582207 -0.493994 -2.366155  0.577085  20.0  20.0
2021-01-04 -0.497792  0.240977  1.260716 -2.436350  20.0  20.0

3. From the data given below,
 - break the data in to pieces from 0 to 2, 3 to 7.
 - concatenate the pieces.
 - concatenate the pieces along axis 1.
 - label each as 'a' and 'b' respectively and perform concatenation.

In [20]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10,4))
df
#please provide your answer below this line
print("Data is:\n",df)
print("\nAfter break the data into pieces from 0 to 2, 3 to 7 are:\n",df[0:3],df[3:8])
print("\nAfter concatenate the pieces are:\n",pd.concat([df[0:3],df[3:8]]))
print("\nAfter concatenate the pieces along axis 1 are:\n",pd.concat([df[0:3],df[3:8]],axis=1))
a = df[0:3]
b = df[3:8]
print("\nAfter labelled each as 'a' and 'b' respectively and performed concatenation are:\n",pd.concat([a,b]))

Data is:
           0         1         2         3
0  0.621130  1.114046 -0.297959  0.566306
1  0.391897  1.043038 -0.612202 -0.078442
2 -0.418226  0.388092  0.076544 -0.729018
3 -1.138070 -2.072626 -1.101324 -0.612209
4 -0.976243 -0.578040 -0.685164  0.506612
5  0.355690 -1.202437 -0.925178 -0.930135
6  0.674550  0.161902 -0.388052 -0.082783
7  1.685528  0.256562 -0.509694 -1.061271
8  0.117827 -2.251258 -0.220037  0.185168
9 -0.170072 -0.345541 -2.422478 -0.167423

After break the data into pieces from 0 to 2, 3 to 7 are:
           0         1         2         3
0  0.621130  1.114046 -0.297959  0.566306
1  0.391897  1.043038 -0.612202 -0.078442
2 -0.418226  0.388092  0.076544 -0.729018           0         1         2         3
3 -1.138070 -2.072626 -1.101324 -0.612209
4 -0.976243 -0.578040 -0.685164  0.506612
5  0.355690 -1.202437 -0.925178 -0.930135
6  0.674550  0.161902 -0.388052 -0.082783
7  1.685528  0.256562 -0.509694 -1.061271

After concatenate the pieces are:
           0         1         2         3
0  0.621130  1.114046 -0.297959  0.566306
1  0.391897  1.043038 -0.612202 -0.078442
2 -0.418226  0.388092  0.076544 -0.729018
3 -1.138070 -2.072626 -1.101324 -0.612209
4 -0.976243 -0.578040 -0.685164  0.506612
5  0.355690 -1.202437 -0.925178 -0.930135
6  0.674550  0.161902 -0.388052 -0.082783
7  1.685528  0.256562 -0.509694 -1.061271

After concatenate the pieces along axis 1 are:
           0         1         2  ...         1         2         3
0  0.621130  1.114046 -0.297959  ...       NaN       NaN       NaN
1  0.391897  1.043038 -0.612202  ...       NaN       NaN       NaN
2 -0.418226  0.388092  0.076544  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ... -2.072626 -1.101324 -0.612209
4       NaN       NaN       NaN  ... -0.578040 -0.685164  0.506612
5       NaN       NaN       NaN  ... -1.202437 -0.925178 -0.930135
6       NaN       NaN       NaN  ...  0.161902 -0.388052 -0.082783
7       NaN       NaN       NaN  ...  0.256562 -0.509694 -1.061271

[8 rows x 8 columns]

After labelled each as 'a' and 'b' respectively and performed concatenation are:
           0         1         2         3
0  0.621130  1.114046 -0.297959  0.566306
1  0.391897  1.043038 -0.612202 -0.078442
2 -0.418226  0.388092  0.076544 -0.729018
3 -1.138070 -2.072626 -1.101324 -0.612209
4 -0.976243 -0.578040 -0.685164  0.506612
5  0.355690 -1.202437 -0.925178 -0.930135
6  0.674550  0.161902 -0.388052 -0.082783
7  1.685528  0.256562 -0.509694 -1.061271